{% extends 'my_princess/base.html' %}
{% load static %}
{% block title %}Final message!{% endblock %}

{% block content %}
    <div class="birthday-message">
        <p>
            Happy Birthday Puju 
            My Beautiful Girl 🎂❤️ <br><br>

            In this little world of ours, full of laughs, fights, 
            and Tom & Jerry moments… you are still my favorite person.
            Life feels brighter, funnier, and more meaningful with you in it.

            I hope this year brings you endless smiles, crazy adventures,
            and all the happiness you truly deserve.

            <br><br>
            <strong>Stay cute, stay amazing… and keep loving me forever. 💖</strong>
            --- Your idiot engineer boyfriend
        </p>
    </div>
{% endblock %}

